<div class="left-nav-bar">
  <div class="nav-top">
    <a
      mat-icon-button
      class="campaign-btn"
      [routerLink]="['/campaign']"
      role="button"
      tabindex="0"
    >
      <span class="plus-icon">
        <mat-icon>add</mat-icon>
      </span>
    </a>
    <div class="campaign-label">New<br />Campaign</div>
  </div>

  <div class="nav-item">
    <a
      mat-icon-button
      class="dash-btn"
      [routerLink]="['/dashboard']"
      role="button"
      tabindex="0"
    >
      <mat-icon>dashboard</mat-icon>
    </a>
    <div class="dash-label">Dashboard</div>
  </div>
</div>
