.asset-view-wrapper {
  border: 1px solid #ffae6e;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #ff7a00;
  font-weight: 600;
  background: #fff;
}

.asset-view-wrapper img {
  width: 140px;
  margin-bottom: 16px;
}

.instructions {
  font-weight: normal;
  font-size: 0.9em;
  color: #ff7a0033;
  margin-top: -6px;
}
