<mat-form-field appearance="fill" class="theme-select-field">
  <mat-label>Select vertical</mat-label>
  <mat-select [(ngModel)]="selectedVertical" (selectionChange)="onVerticalChange()">
    <mat-option *ngFor="let vertical of verticals" [value]="vertical">
      {{ vertical }}
    </mat-option>
  </mat-select>
</mat-form-field>

<div class="theme-list">
  <div
    *ngFor="let theme of filteredThemes"
    class="theme-card"
    [class.selected]="theme === selectedTheme"
    (click)="selectTheme(theme)"
    tabindex="0"
    role="button"
  >
    <!-- Replace with your theme card markup; this is a placeholder -->
    {{ theme }}
  </div>
</div>
